<h1>spots#index</h1>

  <%= form_with url: search_path, method: :get, class: 'mx-auto', local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword, placeholder: "ワードを入力して検索！", class: "form-control form-control-sm" %>
    <button type="submit" class="btn btn-light btn-sm d-none d-lg-block">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  <% end %>

<% @tag_list.each do |list| %>
  <%= link_to list.tag_name, tag_spots_path(tag_id: list.id), class: "btn btn-outline-dark btn-sm" %>
<% end %>
 <%= render 'spots/map', spots: @spots %>