<div id='favorite_btn' class="favo_btn">
  <% if spot.favorited_by?(current_user) %>
    <%= link_to trip_spot_favorites_path(trip_id: spot.trip_id, spot_id: spot), method: :delete, remote: true do %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to trip_spot_favorites_path(trip_id: spot.trip_id, spot_id: spot), method: :post, remote: true do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
</div>