/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap";


div {
  font-family: 'DotGothic16', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
text-decoration: none;
}

li {
  list-style: none;
}

.fc-time {
  display : none;
}

.image_area {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.detail_font{
  font-size: 15px;
}

.content_font {
  color: #6c6b6b;
  font-size: 20px;
}

.title-font {
  font-size: 30px;
}

.menu-font {
  color:#0000FF;
  font-size: 20px;
}

.menu-font > i {
  color: #6c6b6b;
}

.menu {
  margin: 30px;
}

.page_title {
  font-size: 50px;
  margin-bottom: 30px;
}

.content-title {
  font-size: 35px;
}